
/* ----------------------------------  字体大小 -------------------------------------   */

/* ======== announcement timing 字体大小 ======== */
#stayTiming {
  font-size: 15px; /* 设置stayTiming元素的字体大小 */
}

#activeTiming {
  font-size: 15px; /* 设置activeTiming元素的字体大小 */
}

#warning {
  font-size: 16px; /* 设置warning元素的字体大小 */
}
/* ======== announcement timing 字体大小 ======== */


.hbe.hbe-input-label-content.hbe-input-label-content-default{
  font-size: 18px !important; /* 设置hbe-input-label-content元素的字体大小 */
}


/*  ``````````````````````````` 文章标题字体大小 `````````````````````````````` */ 

/* 文章段落间距 */
#article-container p {
  line-height: 1.8 !important;
}
/* 文章列表间距 */
#article-container ul {
  line-height: 1.8 !important;
}

/*// 将公式字体大小设置为 1em */
.mjx-chtml, .MathJax {
  font-size: 110% !important;
}

/* .mjx-math {
  font-size: 100% !important;
  } */



/* ----------------------------------  鼠标样式 -------------------------------------   */
#cursor {
  position: fixed;
  width: 16px;
  height: 16px;
  /* 这里改变跟随的底色 */
  background: rgb(57, 197, 187);
  border-radius: 8px;
  opacity: 0.25;
  z-index: 10086;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  transition-property: background, opacity, transform;
}


#cursor.hidden {
  opacity: 0;
}

#cursor.hover {
  opacity: 0.1;
  transform: scale(2.5);
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
}

#cursor.active {
  opacity: 0.5;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}



/* ----------------------------------  文章内边距 -------------------------------------   */
main.layout#content-inner {
  padding: 20px 15px !important; /* 设置layout元素的内边距 */
}




/* ---------------------------------- love-timer ------------------------------------  */
/* 如果需要隐藏 .item-headline 内的 i 和 span */
/* .card-widget.couple-widget .item-headline i,
.card-widget.couple-widget .item-headline span {
  display: none;
} */
/* love-timer 去边 */
.couple-widget  .item-headline span {
  display: none;
}

/* .couple-widget   */

#aside-content .card-widget.couple-widget {
  padding: 8px !important; /* 强制覆盖 */
}


/* 默认白天模式，标题字体颜色为黑色 */
.couple-title {
  color: black !important;
}

/* 夜间模式，标题字体颜色为白色 */
[data-theme='dark'] .couple-title {
  /* color: white !important; */
  color: rgba(255,255,255,0.7) !important;
}



/* -------------------------------------------------------------------------------------*/




/* ---------------------------------- moment-timer ----------  */
/* 如果需要隐藏 .item-headline 内的 i 和 span */
/* .moment-widget  .item-headline span {
  display: none;
} */

/* .couple-widget   */

#aside-content .card-widget.moment-widget {
  padding: 8px !important; /* 强制覆盖 */
}



/* -------------------------------- 页脚 字体颜色 ----------------------------------- */

/* #footer-wrap {
  color: black !important;
} */
#footer-wrap,
#footer-wrap a{
  color: black !important;
}


/* [data-theme='dark'] #footer-wrap {
  color: white !important;
} */
[data-theme='dark'] #footer-wrap,
[data-theme='dark'] #footer-wrap a {
  color: white !important;
}

